html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: rgb(219, 219, 219);
}

#main-content{
    width: 100%;
    display: flex;
}

#left-bar{
    width: 25%;
    margin: 1%;
    background-color: white;
}

#left-bar > h3 > i {
    color: rgb(138, 204, 209);
    padding: 0 1% 0 4%;
}

#skill-bars{
    padding: 0 4%;
}

#language-bars{
    padding: 0 4%;
    margin-bottom: 0.4%;
}

#skill-bars > div > div{
    color: #000;
    font-size: 11px;
    text-align: center;
}

#skill-bars > p{
    margin: 20px auto 3px auto;
    font-size: 13px;
}

#skill-bars > div{
    background-color: rgb(219, 219, 219);
    border-radius: 13px;
    padding: 0px;
    border-style: inset;
}
  
#skill-bars > div > #html-skill{
    background-color: rgb(138, 204, 209);
    width: 100%;
    height: 13px;
    border-radius: 10px;
}

#skill-bars > div > #css-skill {
    background-color: rgb(138, 204, 209);
    width: 80%;
    height: 13px;
    border-radius: 10px;
}

#skill-bars > div > #bootstrap-skill {
    background-color: rgb(138, 204, 209);
    width: 60%;
    height: 13px;
    border-radius: 10px;
}   

#skill-bars > div > #javascript-skill {
    background-color: rgb(138, 204, 209);
    width: 10%;
    height: 13px;
    border-radius: 10px;
}

#picture-container > img{
      height: 300px;
      object-fit: scale-down;
}

#picture-container > img, #picture-container {
    width: 100%;
    background-size: 150px;
    border-radius: px;  
}

#picture-container > h2 {
    position: absolute;
    bottom: 585px;
    padding: 10px;
    padding-left: 90px;
    color:rgb(138, 204, 209);
}

#right-bar{
    width:71%;
    height: 50%;
    margin: 1%;
}

#right-bar-down {
    margin-top: 1%;
}

#right-bar-up{
    margin-bottom: 1%;
}

#right-bar-down, #right-bar-up{
    height: 50%;
    padding: 1%;
    background-color: white;
}

#work-container >i, #education-container > i{
    color: rgb(138, 204, 209);
    font-size: 22px;
    margin: 0;
}

#work-container > h1, #education-container > h1 {
    display: inline;
}

#work-description > a, #work-description > i,
#education-description >a, #education-description >i{
    color: rgb(138, 204, 209);
    font-size: 16px;
    margin-right: 0%;  
}

#about-me > div > i{
    color: rgb(138, 204, 209);
    font-size: 15px;
    margin: 22px; 
    margin-right: 2%;
    margin-left: 19%;
}

#about-me > hr{
    border-top: 0.5px solid rgb(231, 231, 231);
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;   
}

#education-description > hr{
    border-top: 0.5px solid rgba(231, 231, 231);
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#language-bars > p{
    margin: 20px auto 3px auto;
    font-size: 13px;
}

#language-bars > div {
    background-color: rgb(219, 219, 219);
    border-radius: 13px;
    padding: 0px;
    border-style: inset;
}

#language-bars > div > #hebrew-language{
    background-color: rgb(138, 204, 209);
    width: 100%;
    height: 13px;
    border-radius: 10px;
}

#language-bars > div > #english-language{
    background-color: rgb(138, 204, 209);
    width: 90%;
    height: 13px;
    border-radius: 10px;
}

#language-bars > div > #russian-language{
    background-color: rgb(138, 204, 209);
    width: 75%;
    height: 13px;
    border-radius: 10px;
}

#language-bars > div > #spanish-language{
    background-color: rgb(138, 204, 209);
    width: 75%;
    height: 13px;
    border-radius: 10px;
}

#language-bars > div > #arabic-language{
    background-color: rgb(138, 204, 209);
    width: 20%;
    height: 13px;
    border-radius: 10px;
}

